<!-- Main Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">COMP229</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <button class="btn btn-success" (click)="toCreatePage()">Create quiz</button>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/about"><i class="fa-solid fa-lg fa-house-laptop"></i> Hi Fu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/products"><i class="fa-solid fa-lg fa-house-laptop"></i> products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/book-list"><i class="fa-solid fa-lg fa-book"></i> books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/services"><i class="fa-solid fa-lg fa-house-laptop"></i> services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact"><i class="fa-solid fa-lg fa-house-laptop"></i> contacts</a>
        </li>

        <li class="navbar-text">
        </li>
    </ul>
  </div>
</nav>